.nepDynamicPage .sapFDynamicPageTitle {
    padding: 0.5rem 0.8rem !important;
}

.nepDynamicPage .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 0 !important;
}

.nepDynamicPage .sapMITBContent {
    border-bottom: none !important;
}